/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-celestial-smart-header {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	transition: transform 0.3s ease;

	/* Headroom.js specific styles */
	&.headroom {
		will-change: transform;
	}

	&.headroom--pinned {
		transform: translateY(0%);
	}

	&.headroom--unpinned {
		transform: translateY(-100%);
	}
}

