/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-celestial-scroll-to-top {
	position: fixed;
	bottom: 5rem;
	right: 2.5rem;
}
